@import "tailwindcss";

@theme {
  --color-brand-bg: #f0f4f1;
  --color-brand-dark: #28282b;
  --color-brand-accent: #f2ffbd;
  --color-brand-white: #ffffff;
}

@layer base {
  :root {
    --background: var(--color-brand-bg);
    --foreground: var(--color-brand-dark);
  }
  
  html, body {
    @apply bg-brand-bg text-brand-dark antialiased;
    scroll-behavior: smooth;
  }
}
